
/* Your CSS Code here. */
#part{
	background-color:indianred
	
}
#waist{
	background-color:lightpink;
}
#chest{
	background-color:lightyellow;
}
#sleeve{
	background-color:lightgray
}
#table{
	border:collapse
	
}